include includes/header.pug


.categories
  .categories__head
    img.categories-img(src="../assets/img/apart_bg.jpg", alt="")

  .container__categories
    h1.categories-title Аппартаменты
    .select__categories
      div.categories-wrapper
        input#date-checkin.categories-input.datepicker-here(type="text" required readonly)
        label.categories__label(for="date-checkin") Заезд
      div.categories-wrapper
        input#date-checkout.categories-input.datepicker-here(type="text" required readonly)
        label.categories__label.middle-label(for="date-checkout") Выезд
      div.categories-wrapper
        input#guests.categories-input(type="text" required)
        label.categories__label(for="guests") Кол-во гостей
      button.categories-button(type="submit")

.wrapper__categories
  div.text__categories
    h3 Аппартаменты
    p Описание

  .appart__categories


include includes/footer.pug