include includes/header.pug


.categories
  .categories__head
    img.categories-img(src="../assets/img/apart_bg.jpg", alt="")

  .container__categories
    h1.categories-title Аппартаменты
    .select__categories
      input(type="text")
      input(type="text")
      input(type="text")
      button(type="submit")

.wrapper__categories
  div.text__categories
    h3 Аппартаменты
    p Описание

  .appart__categories


include includes/footer.pug