html(lang='ru')
  head
    title TestQuest
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1")
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='../assets/fonts/stylesheet.css')

  body
    .card
      .card__item
        .card__header
          .card__logo-wrapper(data-target="logo" data-hidden="0")
            .card__logo
              img(src="../assets/icons/Logo.png")
          .card__logo-wrapper(data-target="logo" data-hidden="1")
            .card__logo
              include ../icons/Shape.svg
            input(type="text" placeholder="Search field location" id="search").card__input
          .card__control
            .card__control-icons.search(data-control-target="logo" data-active="1")
              include ../icons/Search.svg
            .card__control-delimiter
            .card__control-icons.arrow(data-control-target="content" data-active="1")
              include ../icons/Arrow.svg
        .card__body(data-target="content" data-hidden="1")
          h3.card__title Get Map for In Season Nitrogen Application  in 10 seconds
          p.card__description Find your field on the map or create a new border. Then click on the field and get the file for variable rate application for the onboard computer of your machinery.
          a(href="#").card__link How it works

    script(src="../js/jquery.min.js")
    script(src="../js/jquery.autocomplete.js")
    script(src="../js/script.js")
    script(src="../js/pug.script.js")
