include includes/header.pug

div.page-main

  div.container

    h1.title
      | Аренда недвижимости
      br
      | премиум класса в Ялте

    div.realty
      a.realty__link(href='#') Апартаменты
      a.realty__link(href='#') Дома и виллы

    include components/individual-pick.pug

  div.slides-wrapper
    div.slides__controls
      button.slides__prev(data-control="-1")
      button.slides__next(data-control="1")
    div.slides
      div(data-simple-slider)
        .slides__slide
          img.slides__img(src="../assets/img/front-bg.jpg" alt="Ubk-Rent")
          h4.slides__title Описание_1
        .slides__slide
          img.slides__img(src="../assets/img/bg_ere.jpg" alt="Ubk-Rent")
          h4.slides__title Описание_2

- var page = 'index'
include includes/footer.pug