include includes/header.pug

div.page-taxonomy
  section.section.header
    div.section__header
      div.section__img-wrapper
        img.section__img(src="../assets/img/apart_bg.jpg", alt="")
        div.section__img-overlay

      h1.section__title Аппартаменты

    div.section__body.container

- var page = 'taxonomy'
include includes/footer.pug