include includes/header.pug

div.page-taxonomy
  section.section
    div.section__header
      div.section__img-wrapper
        img.section__img(src="../assets/img/apart_bg.jpg", alt="")
        div.section__img-overlay

      h1.section__title Аппартаменты

    div.section__body.container
      input(type="text")
      input(type="text")
      input(type="text")
      button(type="submit")

include includes/footer.pug