/* #region sass config */
$browser-context: 16; // Default

@function rem($pixels, $context: $browser-context) {
	@return #{$pixels/$context}rem;
}

@function em($pixels, $context: $browser-context) {
	@return #{$pixels/$context}em;
}

@function lh($lh, $fs) {
	@return #{$lh/$fs};
}
/* #endregion */

/* #region imports */
@import "_reset";
@import "../fonts/stylesheet";
/* #endregion */

/* #region globals */
html{
	font-size: 10px;
	@media (min-width: 1280px) {
		// font-size: 1.2em;
	}
	@media (max-width: 1024px) {
		// font-size: 1em;
	}
	@media (max-width: 768px) {
		// font-size: .8em;
	}
}
html,
body {
	height: 100%;
}
body {
	font-family: 'Open Sans';
}
* {
	box-sizing: border-box;
}
/* #endregion */

/* #region root */
.wrapper {
	width: 100%;
}
.container {
	max-width: 1280px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0 50px; // 1180
}
.section {
  display: block;
	position: relative;
}
.button {
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
}
[data-hidden="1"] {
	display: none;
}
.p-70 { padding: 0 7rem; }
.p-80 { padding: 0 8rem; }
/* #endregion */

/* #region navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 11rem;
	align-items: center;
}
.navbar__brand {
	width: 16rem;
	height: 2.8rem;
}
.brand__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.navbar__list {
	display: flex;
  list-style: none;
}
.navbar__item {
	margin: 0 25px;
}
.navbar__item:last-child {
	margin-right: 0;
}
.navbar__link {
	font-size: 1.8rem;
	color: #2D4744;
	text-decoration: none;
}
/* #endregion */

/* #region index.html */

/* #region intro */
.intro .container {
	position: relative;
}
.intro .slide {
	height: 62.5rem;
	color: #fff;
	text-align: center;
}
.intro .slide__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 62.5rem;
	z-index: -1;
}
.intro .slide__img .img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.intro .slide__title {
	padding-top: 25rem;
	margin-bottom: 1.5rem;
	font-weight: 300;
	font-size: 5rem;
}
.intro .slide__subtitle {
	margin: 1rem 0;
	font-size: 2.4rem;
	font-weight: 400;
}
.intro .section__description {
	padding-top: 5rem;
	padding-left: 8rem;
	height: 27rem;
	max-width: 46rem;
}
.intro .section__title {
	margin-bottom: 5rem;
	font-size: 5rem;
	font-weight: 300;
	color: #2D4744;
}
.intro .section__excerpt {
	color: #222221;
	font-size: 1.6rem;
}
.intro .section__link {
	display: block;
	color: #65AE97;
	margin: 10px 0;
	font-size: 1.6rem;
	text-decoration: underline;
}
.intro__download {
	position: absolute;
	width: 46.5rem;
	height: 36.5rem;
	bottom: -3rem;
	right: 13rem;
	padding: 5rem 8rem;
	background-color: #2D4744;
	z-index: 1000;
}
.intro .download__top-control {
	position: absolute;
	top:	0;
	right: 0;
	text-align: right;
}
.intro .download-button--small {
	padding: 2rem;
}
.intro .download-button--large {
	font-family: 'Try Drive';
	font-size: 1.7rem;
	padding: 2rem;
	width: 100%;
	color: #fff;
	background-color: #65AE97;
}
.intro .download__description {
	color: #fff;
}
.intro .download__title {
	margin-bottom: 4rem;
	font-weight: 400;
	font-size: 3rem;
}
.intro .download__excerpt {
	margin-bottom: 4rem;
	font-size: 1.6rem;
	font-weight: 300;
}
/* #endregion */

/* #region about */
.about {
	background-color: #F6F6F6;
	padding: 12.5rem;
}
.about .section__title {
	font-size: 5rem;
	font-weight: 300;
	color: #2D4744;
	text-align: center;
	margin-bottom: 10rem;
}
.about .wrapper {
	display: flex;
	flex-direction: row;
}
.about__litera {
	flex-basis: 35%;
}
.about .section__description {
	flex-basis: 55%;
}
.about__controls {
	flex-basis: 10%;
}
.about__litera .img {
	min-width: 23rem;
	min-height: 26rem;
}
.about .section__subtitle {
	margin-bottom: 4rem;
	font-size: 3.2rem;
	font-weight: 300;
	color: #2D4744;
}
.about .section__excerpt {
	font-size: 1.6rem;
	font-style: 300;
	margin-bottom: 1rem;
}
.about .about__link {
	font-size: 1.6rem;
	font-style: 300;
	color: #65AE97;
	text-decoration: underline;
}
/* #endregion */

/* #region news--half-img */
.news.news--half-img {
	position: relative;
}
.news.news--half-img::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 32rem;
	width: 100%;
  z-index: -1;
	background-color: #F6F6F6;
}
.news--half-img .article {
	display: flex;
	flex-direction: row;
	height: 63rem;
	background-color: #2D4744;
}
.news--half-img .article__thumbnail {
	flex-basis: 50%;
}
.news--half-img .article__thumbnail .img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news--half-img .article__description {
	flex-basis: 50%;
	padding: 4rem 7.5rem;
}
.news--half-img .article__date-container {
	font-weight: 300;
	font-size: 3rem;
	text-align: right;
	color: #fff;
}
.news--half-img .article__day {
	display: block;
}
.news--half-img .article__month {
	display: block;
}
.news--half-img .section__title {
	font-size: 5rem;
	color: #fff;
	font-weight: 300;
	margin-bottom: 5rem;
}
.news--half-img .article__title {
	font-family: 'Try Drive';
	font-size: 2.8rem;
	color: #65AE97;
	font-weight: 300;
	margin-bottom: 2rem;
}
.news--half-img .article__excerpt {
	font-weight: 300;
	font-size: 1.6rem;
	color: #fff;
	margin-bottom: 1rem;
}
.news--half-img .article__link {
	text-decoration: underline;
	font-weight: 300;
	font-size: 1.6rem;
	color: #fff;
}
.news--half-img .news__controls {
	margin-top: 10rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
/* #endregion */

/* #region knew-more */
.knew-more {
	padding-top: 6rem;
}
.knew-more .section__title {
	font-size: 5rem;
	font-weight: 300;
	color: #2D4744;
	margin-bottom: 10rem;
}
.knew-more .feature {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.knew-more .feature__list {
	flex-basis: 36%;
}
.knew-more .feature__description {
	flex-basis: 36%;
}
.knew-more .feature__item .button {
	display: block;
	position: relative;
	padding: 1rem 2rem 1rem 0;
	font-size: 3.4rem;
	font-weight: 300;
	color: #2D4744;
  width: 100%;
	text-align: left;
	border-bottom: .2rem solid #2D4744;
}
.knew-more .feature__item .button::after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 20px;
	background-image: url('../assets/icons/arrow-right-small.png');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.feature__title {
	font-weight: 300;
	font-size: 4rem;
	color: #E2407A;
	margin-bottom: 3rem;
}
.feature__excerpt {
	font-weight: 300;
	font-size: 1.6rem;
	color: #2D4744;
	margin-bottom: 4rem;
}
.feature__more {
	padding: 2.5rem 0;
	font-weight: 300;
	font-size: 2rem;
	color: #fff;
	width: 100%;
	background-color: #E2407A;
}
/* #endregion */

/* #region */
/* #endregion */

/* #endregion */

/* #region page-news */
.news-page .preview {
    height: 62.5rem;
    color: #fff;
    text-align: center;
}
.news-page .container {
  position: relative;
}
.news-page .news__preview-img {
	top: 0;
	left: 0;
	width: 100%;
	height: 62.5rem;
	z-index: -1;
}
.news-page .news__preview-img .img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.news-page .slide__title {
	padding-top: 25rem;
	margin-bottom: 1.5rem;
	font-weight: 400;
	font-size: 5rem;
}
.news-page .slide__subtitle {
	margin: 1rem 0;
	font-size: 2.4rem;
}
.news-page .section__description {
	height: 27rem;
	max-width: 45rem;
}
.news-page .section__title {
	margin: 5rem 0;
	font-size: 5rem;
	font-weight: 400;
	color: #2D4744;
}
.news-page .section__excerpt {
	color: #222221;
	font-size: 1.6rem;
}
.news-page .download__description {
	color: #fff;
}
.news-page .download__title {
	margin-bottom: 4rem;
	font-weight: 400;
	font-size: 3rem;
}
.news-page .download__excerpt {
	margin-bottom: 4rem;
	font-size: 1.6rem;
	font-weight: 300;
}
.news-page .download__title {
    margin-bottom: 4rem;
    font-weight: 400;
    font-size: 3rem;
}

/* #region seach form*/

form {
    position: relative;
    width: 300px;
    margin: 0 auto;
}
.search__botton input {
    width: 100%;
    height: 42px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid;
    outline: none;
    background: none;
    color: #65ae97;
}
.search__botton button {
    position: absolute;
    top: 0;
    right: 0px;
    border: none;
    height: 42px;
    background: none;
    cursor: pointer;
}
.intro__download.news-page {
    bottom: 9rem;
    right: 5rem;
}

/* #endregion */
/* #endregion */



/* #region page_news style_news box */

.article__thumbnail{
  width:100%;
  height: 64rem;
}
.img__thumbnail{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.nechto.section__title{
    font-size: 4.2rem;
    font-weight: 300;
    color: #2D4744;
}
.article_container{
  display: flex;
}
.article__title {
    font-size: 2.8rem;
    font-weight: 300;
    font-family: 'Try Drive';
}
.article__excerpt {
    font-size: 1.6rem;
    font-weight: 300;
}
.article__link{
   font-size: 1.6rem;
    font-weight: 300;
}
.nechto__text {
    width: 45.3%;
}

/* #endregion */

/* #region */
/* #endregion */

/* #region */
/* #endregion */