doctype html
html(lang="en")
  head
    title Ubk-Rent
    link(rel='stylesheet' type="text/css" href='../css/bootstrap.min.css')
    link(rel='stylesheet' href='../css/style.css')
    link(rel='stylesheet' href='../assets/fonts/forum/forum.css')
    link(rel='stylesheet' href='../assets/fonts/gotham/gotham.css')
  body

    <div class='wrapper'>
      header.header
        div.container
          .row.no-gutters
            .col-3
            .col-6
              div.logo
                img.img(src="../assets/img/Logo_Ubkrent_font_co.png", alt="Logo")
            .col-3
              a.phone(href="tel:88612387950") 8 861 238 79 50
              button.callback заказать звонок
          include nav.pug