doctype html
html(lang="en")
  head
    title Ubk-Rent
    link(rel='stylesheet' type="text/css" href='../css/bootstrap.min.css')
    link(rel='stylesheet' href='../css/style.css')
    link(rel='stylesheet' href='../assets/fonts/forum.css')
  body

    <div class='wrapper'>
      header.header
        div.container
          include nav.pug