doctype html
html(lang='ru')
  head
    title Ubk-Rent
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='../css/bootstrap.min.css')
    link(rel='stylesheet' href='../css/style.css')
    link(rel='stylesheet' href='../assets/fonts/forum/forum.css')
    link(rel='stylesheet' href='../assets/fonts/gotham/gotham.css')

  body
    header.header.container
      // logo
      div.row.no-gutters
        div.col-3

        div.col-6
          a.custom-logo-link(href='#')
            img.custom-logo(src='../assets/img/Logo_Ubkrent_font_co.png' alt='ubk-rent')

        div.col-3.header__contact
          a.contact__phone(href='tel:88612387950') 8 861 238 79 50
          button.contact__callback заказать звонок

      // /logo

      // nav
      include nav.pug
      // /nav
