// navbar
nav.navbar
  a.navbar__brand.brand(href="#")
    img.brand__img(
      src="../assets/img/logo.png"
      alt="zuragon"
    )
  ul.navbar__list
    li.navbar__item
      a.navbar__link(href="#") Home
    li.navbar__item
      a.navbar__link(href="#") Vicando suite
    li.navbar__item
      a.navbar__link(href="#") Help
    li.navbar__item
      a.navbar__link(href="#") News
    li.navbar__item
      a.navbar__link(href="#") Contact
    li.navbar__item
      a.navbar__link(href="#") Downloads
    li.navbar__item
      a.navbar__link(href="#") Login
// /navbar