doctype html
html(lang='ru')
  head
    title Ubk-Rent
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0")
    link(rel='stylesheet' type='text/css' href='../css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='../assets/fonts/forum/forum.css')
    link(rel='stylesheet' href='../assets/fonts/gotham/gotham.css')
    link(rel="stylesheet" href='../css/datepicker.min.css')

  body
    header.header.container

      div.header__nav-global.row.no-gutters
        div.col-4.col-md-3
          a.header__menu-toggler--open(href="#header__nav")

        div.col-4.col-md-6
          a.header__logo(href='#')
            img.custom-logo(src='../assets/img/Logo_Ubkrent_font_co.png' alt='ubk-rent')

        div.col-4.col-md-3.header__contacts
          a.header__phone(href='tel:88612387950') 8 861 238 79 50
          button.header__callme заказать звонок

      nav#header__nav.header__nav
        a.header__menu-toggler--close(href="#")

        ul.header__menu
          li.menu-item
            a(href="#") Главная
          li.menu-item
            a(href="#") Аппартаменты
          li.menu-item
            a(href="#") Дома и виллы
          li.menu-item
            a(href="#") Клубная карта
          li.menu-item
            a(href="#") FAQ
          li.menu-item
            a(href="#") Контакты