nav.header__nav#site-menu
  div.nav__menu-close
    a.close__menu(href="#")
  ul.nav__menu
    li.menu-item
      a(href="#") Главная
    li.menu-item
      a(href="#") Аппартаменты
    li.menu-item
      a(href="#") Дома и виллы
    li.menu-item
      a(href="#") Клубная карта
    li.menu-item
      a(href="#") FAQ
    li.menu-item
      a(href="#") Контакты
a.open__menu(href="#site-menu")