include includes/header.pug

// section-intro
div.page.front

  div.fullpage-bg
    img.img(src="../assets/img/front-bg.jpg", alt="Ubk-Rent")

  section.section.container
    h1.page-title
      | Аренда недвижимости
      br
      | премиум класса в Ялте

  section.section.container
    a(href='') Апартаменты
    a(href='') Дома и виллы

  section.section.container
    button(type='button' hidden)
    button(type='button') Заказать индивидуальный подбор
    button(type='button')

// /section-intro

include includes/footer.pug