include includes/header.pug

// front-page main slider
div.slider-wrapper
  div.slider__control
    button.slider__prev(data-control="-1")
    button.slider__next(data-control="1")
  div.slider
    div(data-simple-slider)
      .slider__slide
        img.slider__img(src="../assets/img/front-bg.jpg", alt="Ubk-Rent")
        h4.slide__title Описание_1
      .slider__slide
        img.slider__img(src="../assets/img/front-bg.jpg", alt="Ubk-Rent")
        h4.slide__title Описание_2
// /front-page main slider

// /front-page
div.front-page.page.container

  h1.page__title
    | Аренда недвижимости
    br
    | премиум класса в Ялте

  div.realty
    a.realty__link(href='#') Апартаменты
    a.realty__link(href='#') Дома и виллы

  div
    button.assortment(type='button') Заказать индивидуальный подбор

// /front-page

include includes/footer.pug