include includes/header.pug

// section-intro
div.slider
  button.slider__control.prev(data-control="-1")
  button.slider__control.next(data-control="1")
  div(data-simple-slider)
    .slider__slide
      img.slider__img(src="../assets/img/front-bg.jpg", alt="Ubk-Rent")
      h4.slide__title Описание_1
    .slider__slide
      img.slider__img(src="../assets/img/front-bg.jpg", alt="Ubk-Rent")
      h4.slide__title Описание_2

div.page.front

  section.section.container
    h1.page-title
      | Аренда недвижимости
      br
      | премиум класса в Ялте

  section.section.container.button
    a.nav_button(href='') Апартаменты
    a.nav_button(href='') Дома и виллы

  section.section.container.order
    button.section-order(type='button' hidden)
    button.section-order(type='button') Заказать индивидуальный подбор
    button.section-order(type='button')

// /section-intro

include includes/footer.pug