include includes/header.pug

// section-intro

div.fullpage-bg
  img.img(src="../assets/img/front-bg.jpg", alt="Ubk-Rent")

div.page.front

  section.section.container
    h1.page-title
      | Аренда недвижимости
      br
      | премиум класса в Ялте

  section.section.container.button
    a.nav_button(href='') Апартаменты
    a.nav_button(href='') Дома и виллы

  section.section.container.order
    button.section-order(type='button' hidden)
    button.section-order(type='button') Заказать индивидуальный подбор
    button.section-order(type='button')

// /section-intro

include includes/footer.pug