include includes/header.pug

section.section-news.section.news-page

  div.news__preview-img.preview
      img.img(src='/assets/img/bg-news.jpg' alt='news_background')

  div.container
      div.section__description
        h2.section__title Latest news
        p.section__excerpt
          |Vicando is a suite of tools that covers the full cycle of Advanced
          |driver-assistance systems development. From the first day of
          |algorithm development.

      div.intro__download.news-page
        div.download__top-control
          div.download__description
            h2.download__title Zuragon news
            p.download__excerpt
                | Lorem ipsum Lorem ipsum dolor sit
                |amet, consectetuer adipiscing elit, sed
                |diam nonummy nibh euismod tincidunt
                |ut laoreet dolore magna aliquam erat
                |volutpat.
            div.search__botton
              form
                input(type='text' placeholder='Zearch.. for search zuragon news ;)')
                button(type='submit')
                  img.button-search(src='/assets/icons/seach.png')

section.news.news--full-img.container

    div.article__thumbnail
      img.img__thumbnail(src='/assets/img/article-1.jpg' alt='new_bg')

    div.article__categories
      p.name__categories Event

    div.article_container
      div.nechto__text
        h2.nechto.section__title
          |Zuragon Exhibit<br/>
          |in techonology<br/>
          |Michigan Expo.<br/>
          |4 Days.
      div.article__description
        h2.article__title
            |Zuragon to exhibit at autonomous
            |vehicle technology expo 2018 in
            |novi, michigan.
        p.article__excerpt Harman International Industries es una compañía estadounidense especializada en el diseño y mejora de la conectividad de vehículos.

        a.article__link Read more.

      div.article__date-container
        span.article__day 29
        span.article__month oct

                button.button-search(type='submit')
                  img(src='/assets/icons/seach.png')

sectionl.news.news--full-img

    div.article__thumbnail
      img.img(src='' alt='')

    div.article__categories
      p.name__categories Event

