h1 dsfasf
div#myslider(style="width:612px; height:612px" data-simple-slider)
  img(src="https://picsum.photos/612/612?random=1")
  img(src="https://picsum.photos/612/612?random=2")

include includes/footer.pug