@font-face {
  font-family: 'forum';
  src: local('forum'),
       url('forum-regular.woff2') format('woff2'),
       url('forum-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
