/* #region globals */

html
  font-size 10px

html,
body
  padding 0
  margin 0
  width 100%
  // height 100%
  font-family "Gotham Pro", "Open Sans"

*
  box-sizing border-box

button
  font-family "Gotham Pro"

/* #endregion */
