@require 'colors.styl'

/* #region header */

header.header
  position relative
  z-index 1000
  @media screen and (max-width 768px)
    max-width 100%

header.header-mobile
  position absolute
  display none
  top 0
  left 0
  width 30rem
  height 100%
  animation slide-right .3s ease-in-out
  transition all 300ms ease-in-out
  z-index 1001
  &:target
    display block
  @media screen and (max-width 320px)
    width 100%

@keyframes slide-right {
  from {
    left: -100%;
  }
  to {
    left: 0;
  }
}

.header__nav
  @media screen and (max-width 768px)
    display none

.header__nav-global
  padding 1rem 0 0
  align-items center

.header__nav-mobile
  height 100%
  background-color: #141448;

.header .site-logo
  display flex
  margin 0 auto
  width 20rem
  height 13rem
  flex-direction column
  justify-content center
  @media screen and (max-width 768px)
    width 15rem
  @media screen and (max-width 480px)
    width 10rem
    height 8rem

.header .site-logo img
  display block
  width 100%
  height auto
  object-fit cover
  font-family 'object-fit: contain;'

.header__contacts
  text-align right

.header__phone
  display block
  font-size 1.8rem
  color $text-accent
  @media screen and (max-width 480px)
    font-size: 1.2rem
  @media screen and (max-width 320px)
    font-size: 1rem

.header__callme
  padding 0
  margin 0
  border none
  font-size 1.6rem
  color $secondary
  text-decoration underline
  background-color transparent
  @media screen and (max-width 480px)
    font-size: 1.2rem
  @media screen and (max-width 320px)
    font-size: 1rem

.header__menu
  display flex
  margin-top 5rem
  margin-bottom 0
  padding 0
  flex-flow row nowrap
  justify-content space-between
  list-style none

.header__menu-mobile
  padding 0
  margin-top 0
  padding-top 4rem
  height 100%

.header__menu-mobile-toggler--open
  display block
  width 3rem
  height 2rem
  background-image url(../assets/icons/open.png)
  background-size cover
  @media screen and (min-width 769px)
    display none

.header__menu-mobile-toggler--close
  position absolute
  width 2.2rem
  height 2.2rem
  top 0
  right 0
  background-image url(../assets/icons/close.png)
  background-size cover
  transform: translate(-50%, 50%);

.header__menu .menu-item a,
.header__nav-mobile .menu-item a
  display block
  color $text-accent
  text-decoration none
  font-size 1.6rem
  &:hover
    color $secondary
    text-decoration underline

.header__nav-mobile .menu-item a
  @media screen and (max-width 768px)
    padding: 1.5rem 3rem

/* #endregion */
