@require 'colors.styl'

/* #region individual-pick */

.individual-pick .form-toggler--open
  display: block;
  margin 10rem auto 0
  padding 1rem 5rem
  border 2px solid $secondary
  font-size 1.6rem
  border-radius 5px
  color $text-accent
  background-color transparent
  transition all .3s
  &:hover
    background-color $secondary
  @media screen and (max-width 480px)
    margin-top 5rem
    padding 5px 10px
  @media screen and (max-width 320px)
    margin-top 5rem
    padding 5px 10px
    font-size 1.4rem

.individual-pick .form
  display none
  position absolute
  margin 0 auto
  padding 5rem
  min-width 32rem
  max-width 50rem
  width 100%
  top 0
  left 50%
  border-radius 5px
  transform translate(-50%, 20rem)
  background-color $bg
  z-index 4000

.individual-pick .form.visible
  display block

.individual-pick .form__title
  margin 0 0 1.5rem
  color $text
  font-size: 2rem
  text-align center

.individual-pick .form__row
  position relative
  padding 3.5rem 0 0

.individual-pick .form__label
  display block
  position absolute
  margin 0
  width 100%
  left 0
  bottom 0
  font-size 1.4rem
  color $text
  transition all .3s
  opacity .5
  z-index -1

.individual-pick .form__input
  display block
  padding 0
  width 100%
  border none
  font-size 1.6rem
  border-bottom 2px solid $secondary
  background-color transparent
  color $text

.individual-pick .form__input:hover ~ .form__label,
.individual-pick .form__input:focus ~ .form__label,
.individual-pick .form__input:active ~ .form__label,
.individual-pick .form__input:valid ~ .form__label
  display none

.individual-pick .form__submit
  display block
  margin 5rem auto 0
  padding 1rem 5rem
  border none
  font-size 1.6rem
  border-radius 5px
  color $text-accent
  background-color $secondary

.individual-pick .form__close
  position absolute
  margin 0
  padding 0
  width 2.2rem
  height 2.2rem
  top 0
  right 0
  border none
  transform translate(-50%, 50%)
  background-image url(../assets/icons/close.png)
  background-position center center
  background-repeat no-repeat
  background-size 100% 100%
  background-color transparent

/* #endregion */
