@require 'colors.styl'

/* #region page-taxonomy */

.page-taxonomy .header
  height 35rem

.page-taxonomy .section__img-wrapper
  position absolute
  top 0
  left 0
  width 100%
  z-index -1

.page-taxonomy .section__img
  position relative
  width 100%
  height 56.4rem
  object-fit cover

.page-taxonomy .section__img-overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color $primary
  opacity .4
  z-index 0

.page-taxonomy .section__title
  margin-top 10rem
  margin-bottom 0
  font-size 4.3rem
  text-align center
  color $text-accent
  font-family 'Forum'
  letter-spacing 6px
  line-height 6rem
  text-transform uppercase

/* #endregion */
