@require 'colors.styl'

/* #region page-taxonomy */

.page-taxonomy .section__img-wrapper
  position absolute
  top 0
  left 0
  width 100%
  height 100%

.page-taxonomy .section__img
  position relative
  width 100%
  height 100%
  object-fit cover
  z-index 0

.page-taxonomy .section__img-overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color $primary
  opacity .4
  z-index 1

.page-taxonomy .section__title
  text-align center
  margin 7rem 0 0 0

/* #endregion */
