@require 'colors.styl'

/* #region page-club */

.page-club
  background-color $bg

.page-club .section
  position relative

.page-club .section__header
  position relative
  text-align center

.page-club .section__img-wrapper
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  &:before,
  &:after
    content ''
    position absolute
    height 10rem
    left 0
    right 0
    background-size 100% 100%
    background-repeat no-repeat
    background-position center center
    z-index 2
  &:before
    top 0
    background-image url(../assets/img/sep-top.svg)
  &:after
    bottom 0
    background-image url(../assets/img/sep-bot.svg)
  @media screen and (max-width 768px)
    &:before,
    &:after
      height 5rem
  @media screen and (max-width 480px)
    &:before,
    &:after
      height 3rem

.page-club .section__img
  position relative
  width 100%
  height 100%
  object-fit cover
  font-family 'object-fit: contain;'
  z-index 0

.page-club .section__img-overlay
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color $primary
  opacity .4
  z-index 1

.page-club .section__title
  position relative
  padding 20rem 0
  margin 0
  color $text-accent
  font-size 5rem
  font-family 'forum'
  letter-spacing 1rem
  text-transform uppercase
  z-index 3
  &:before
    content '♦  '
    color $secondary
  &:after
    content '  ♦'
    color $secondary
  @media screen and (max-width 768px)
    padding 20rem 0
    font-size 4rem
    &:before
      content unset
    &:after
      content unset
  @media screen and (max-width 480px)
    padding 15rem 0
    font-size 2.5rem
    letter-spacing .5rem

.page-club .section__body
  padding-top 5rem
  padding-bottom 5rem

.page-club .section__description
  margin-top 5rem
  text-align justify

.page-club .section__description p
  font-size 1.6rem

/* #endregion */


/* #region page-club section CLUB */

.page-club .section.club
  position static

.page-club .section.club .section__header
  position static
  padding 15rem 0 30rem
  @media screen and (max-width 768px)
    padding 10rem 0 20rem
  @media screen and (max-width 480px)
    padding 5rem 0 15rem

.page-club .section.club .section__title
  padding 0

.page-club .section.club .section__img-wrapper
  height 72.4rem
  &:before
    content none
  @media screen and (max-width 768px)
    height 48.8rem
  @media screen and (max-width 480px)
    height 32.6rem;

.page-club .card__photo-wrapper
  margin 0 auto
  max-width 35rem
  height 25rem
  width 100%
  @media screen and (max-width 480px)
    max-width 30rem
    height 20rem
    width 100%

.page-club .card__photo
  width 100%
  height 100%
  box-shadow 1px 1px 3px rgba(0,0,0, .3)

.page-club .section.club .section__body
  @media screen and (max-width 480px)
    padding-top 0

/* #endregion */


/* #region page-club section PARTNERS */

.page-club .partners .list-wrapper
  position relative
  margin 0 auto
  max-width 110rem

.page-club .partners__control
  position absolute
  margin 0
  padding 0
  width 5rem
  height 5rem
  top 50%
  border none
  background-position center center
  background-repeat no-repeat
  background-size 100% 100%
  background-color transparent
  transform translateY(-50%)
  &.left
    left 0
    background-image url(../assets/icons/left.svg)
  &.right
    right 0
    background-image url(../assets/icons/right.svg)
  @media screen and (max-width 480px)
    width 4rem
    height 4rem

.page-club .partners__list
  display flex
  padding 0
  flex-flow row wrap
  list-style none
  justify-content space-evenly

.page-club .partners__item
  display none
  position relative
  margin 0 3rem
  padding 1.5rem
  height 30rem
  flex 0 0 30rem
  animation showUp .5s linear
  @media screen and (max-width 768px)
    height 20rem
    flex-basis 20rem
    margin 0 2rem
  @media screen and (max-width 480px)
    height 15rem
    flex-basis 15rem
    margin 0 2rem

@keyframes showUp
  from
    opacity 0
  to
    opacity 1

.page-club .partners__item[data-visibility='1']
  display flex

.page-club .partners__img
  margin auto
  width 100%
  height auto
  object-fit cover
  font-family 'object-fit: contain;'
  // background-color #888

.page-club .partners__discount
  position absolute
  display block
  width 5rem
  height 5rem
  top 1.5rem
  right 1.5rem
  line-height 5rem
  text-align center
  color $text-accent
  font-size 1.3rem
  font-weight bold
  background-image url(../assets/icons/discount.png)
  background-position center center
  background-repeat no-repeat
  background-size cover

/* #endregion */


/* #region page-club section HOTELS */

.page-club .hotels__list
  display flex
  margin 0 auto
  padding 0
  max-width 110rem
  flex-flow row wrap
  list-style none
  justify-content space-evenly

.page-club .hotels__item
  display flex
  padding 1.5rem
  height 30rem
  flex 0 0 30rem
  align-items center
  @media screen and (max-width 768px)
    height 20rem
    flex-basis 20rem
  @media screen and (max-width 480px)
    height 15rem
    flex-basis 15rem

.page-club .hotels__img
  width 100%
  height auto

.page-club .hotels__instruction-title
  margin-bottom 1rem
  font-size 1.6rem

.page-club .hotels__instruction-title span
  font-weight bold

.page-club .hotels__instruction-list
  padding 0
  padding-left 2rem

.page-club .hotels__instruction-item
  font-size 1.6rem

.page-club .hotels__order
  display block
  margin 5rem auto
  padding 1rem 5rem
  border none
  border-radius 5px
  font-size 1.6rem
  color $text-accent
  background-color $secondary
  font-family 'Gotham Pro', "Open Sans", sans

/* #endregion */

/*
@media screen and (max-width 768px)
@media screen and (max-width 480px)
@media screen and (max-width 320px)
  */