.assortment__pupop(data-popup)
  form(action="")
    label.popup__label
      input.popup__input(type="text")
    label.popup__label
      input.popup__input(type="text")
    label.popup__label
      input.popup__input(type="text")
    label.popup__label
      input.popup__input(type="text")
    label.popup__label
      input.popup__input(type="text")
    label.popup__label
      input.popup__input(type="text")
    button(type="submit")
    button.popup__close