.assortment__popup(data-popup)
  form(action="")
    h3.title__popup Заказать индивидуальный подбор
    div.input-wrapper
      input#name.popup__input(type="name" required)
      label.popup__label(for="name") Имя
    div.input-wrapper
      input#phone.popup__input(type="phone" required)
      label.popup__label(for="phone") Телефон
    div.input-wrapper
      input#mail.popup__input(type="mail" required)
      label.popup__label(for="mail") EMail
    div.input-wrapper
      input#date-checkin.popup__input.datepicker-here(type="text" required readonly)
      label.popup__label(for="date-checkin") Заезд
    div.input-wrapper
      input#date-checkout.popup__input.datepicker-here(type="text" required readonly)
      label.popup__label(for="date-checkout") Выезд
    div.input-wrapper
      input#guests.popup__input(type="text" required)
      label.popup__label(for="guests") Кол-во гостей
    button.popup__submit(type="submit") Отправить заявку
    button.popup__close