div.individual-pick
  button.form-toggler--open(type='button' data-popup-toggler='individual-pick') Заказать индивидуальный подбор

  form(action="" data-popup='individual-pick').form
    h3.form__title Заказать индивидуальный подбор

    div.form__row
      input#name.form__input(type="text" required)
      label.form__label(for="name") Имя

    div.form__row
      input#phone.form__input(type="tel" required pattern="\d")
      label.form__label(for="phone") Телефон

    div.form__row
      input#email.form__input(type="email" required)
      label.form__label(for="email") E-mail

    div.form__row
      input#checkin.form__input.datepicker-here(type="text" required readonly)
      label.form__label(for="checkin") Заезд

    div.form__row
      input#checkout.form__input.datepicker-here(type="text" required readonly)
      label.form__label(for="checkout") Выезд

    div.form__row
      input#guests.form__input(type="number" required min="1" max="9999" step="1" value="1")
      label.form__label(for="guests") Кол-во гостей

    button.form__submit(type="submit" data-popup-toggler='individual-pick') Отправить заявку
    button.form__close(type="button" data-popup-toggler='individual-pick')