include ../includes/header.pug

div.page-club
  section.section.club
    div.section__header.container-fluid
      div.section__img-wrapper
        img.section__img(src='../assets/img/landing-1.jpg')
        div.section__img-overlay
      h2.section__title Клубная карта

    div.section__body.container
      div.card__photo-wrapper
        img.card__photo(src='../assets/img/clubcard.svg')

      div.section__description
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis voluptatum suscipit autem neque laboriosam harum accusamus eaque porro, alias libero asperiores. Dolorem facilis minima ab a maiores aut, ut earum.

  section.section.partners
    div.section__header.container-fluid
      div.section__img-wrapper
        img.section__img(src='../assets/img/landing-2.jpg')
        div.section__img-overlay
      h2.section__title Наши партнеры

    div.section__body.container-fluid
      div.list-wrapper
        button.partners__control.left(type='button' data-control='-1')
        button.partners__control.right(type='button' data-control='1')
        ul.partners__list
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount
          li.partners__item
            img.partners__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
            div.partners__discount

  section.section.hotels
    div.section__header.container-fluid
      div.section__img-wrapper
        img.section__img(src='../assets/img/landing-3.jpg')
        div.section__img-overlay
      h2.section__title Получи скидку в лучших отелях Ялты

    div.section__body
      ul.hotels__list.container-fluid
        li.hotels__item
          img.hotels__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
        li.hotels__item
          img.hotels__img(src='https://dummyimage.com/270x270/666666/fff.jpg')
        li.hotels__item
          img.hotels__img(src='https://dummyimage.com/270x270/666666/fff.jpg')

      div.section__description.container
        p.hotels__instruction-title Что бы воспользоваться <span>скидкой</span> необходимо выполнить <span>3 шага</span>
        ol.hotels__instruction-list
          li.hotels__instruction-item Выберите отель из списка наших партнеров
          li.hotels__instruction-item Сделайте предварительную бронь
          li.hotels__instruction-item Свяжитесь с менеджером нашей компании и получите скидку
      button.hotels__order(type='button') Забронировать отель

include ../includes/footer.pug